### Python as a Calculator

In [7]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

Versão de Python Neste Jupyter Notebook: 3.10.5

In [8]:
import warnings
warnings.filterwarnings('ignore')

In [9]:
# Addition
5 + 3

8

In [10]:
# Subtraction
5 - 3

2

In [11]:
# Multiplication
5 * 3

15

In [12]:
# Division
5 / 3

1.6666666666666667

In [13]:
# Modulo
5 % 2

1

In [14]:
5 // 3

1

In [15]:
# We can also use expressions as operands in longer composite expressions. For example,
# Composite expression
5 + 3 - 3 + 4

9

In [16]:
5 + 3 * 3 - 4

10

In [17]:
# Brackets
(5 + 3) * (3 - 4)

-8

In [18]:
# Negation
- (5 + 3)

-8

#### Floating Point Expressions

In [19]:
# Floating Point Addition
5.0 + 3

8.0

In [20]:
# Floating Point Multiplication
5.0 * 3

15.0

In [21]:
# Floating Point Exponential
5.0 ** 3

125.0

In [22]:
# Floating Point Exponential
36 ** 0.5

6.0

In [23]:
# types
type(5)

int

In [24]:
type(5.0)

float

In [25]:
type(5.0 ** 3)

float

In [26]:
# convert
float(5)

5.0

In [27]:
type(float(5))

float

In [28]:
int(5.9)

5

In [29]:
type(int(5.9))

int

In [30]:
# round 
round(5.9)

6

In [31]:
round(5.2)

5

In [32]:
round(5.98765, 2)

5.99

In [33]:
round(5.98765, 1)

6.0

In [34]:
# abs
abs(-5)

5

In [35]:
abs(5)

5

In [36]:
abs(5.0)

5.0

In [37]:
5e1

50.0

In [38]:
5e-1

0.5

In [39]:
5E2

500.0

### Python Basics

In [40]:
month_name = 'Fanuary'

In [41]:
# We will be presented with an error at this line.
month_name[0] = 'J'

TypeError: 'str' object does not support item assignment

In [42]:
# comments
# Following line adds two integer numbers
5 + 3

8

In [43]:
5 + 3 # Add two literals

8

In [44]:
# This is also a comment!

In [45]:
# This is an example of a multi-line comment
# in Python that spans several lines and
# describes the code. It can be used to
# annotate anything like the author name, revisions,
# the purpose of a script, etc. It uses a delimiter
# to mark its start and end.

#### `print()` function

In [46]:
# Simple print function
print("Hello World!")

Hello World!

In [47]:
# Concatenating string and integer literal
print("January", 2010)

January 2010

In [48]:
# Concatenating two strings
print("AAPL", "is the stock ticker of Apple Inc.")

AAPL is the stock ticker of Apple Inc.

In [49]:
# Concatenating a variable and string.
# Here, stock_name is a variable containing stock name.
stock_name = 'MSFT'
print(stock_name + " is the stock name of Microsoft Corporation.")

MSFT is the stock name of Microsoft Corporation.

In [50]:
# f-strings
print(f'The stock ticker for Apple Inc is {stock_name}.')

The stock ticker for Apple Inc is MSFT.

In [51]:
# %-formatting strings
price = 226.41
print("%s is currently trading at %.2f." %(stock_name, price))

MSFT is currently trading at 226.41.

#### `format()` function

In [52]:
stock_ticker = 'AAPL'
price = 226.41
print('We are interested in {x} which is currently trading at {y}'.format(x=stock_ticker, y=price))

We are interested in AAPL which is currently trading at 226.41

In [53]:
print('We are interested in {0} which is currently trading at {1}'.format(stock_ticker, price))

We are interested in AAPL which is currently trading at 226.41

In [54]:
print('We are interested in {} which is currently trading at {}'.format(stock_ticker, price))

We are interested in AAPL which is currently trading at 226.41

#### Escape Sequence

In [55]:
'That\'s really easy.'

"That's really easy."

In [56]:
print('That is really easy.\nYes, it really is.')

That is really easy.
Yes, it really is.

In [57]:
print('AAPL.\tNIFTY50.\tDJIA.\tNIKKEI225.')

AAPL.	NIFTY50.	DJIA.	NIKKEI225.

In [58]:
print('AAPL is the ticker for Apple Inc.\
    It is a technology company.')

AAPL is the ticker for Apple Inc.    It is a technology company.

#### Indentation

In [59]:
stock_name = 'AAPL'

In [60]:
# Incorrect indentation. Note a whitespace at
# the beginning of line.
    print('Stock name is', stock_name)

IndentationError: unexpected indent (4095803048.py, line 3)

In [61]:
# Correct indentation.
print('Stock name is', stock_name)

Stock name is AAPL

In [62]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.