In [1]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

Versão de Python Neste Jupyter Notebook: 3.10.5

In [2]:
import warnings
warnings.filterwarnings('ignore')

### Variables and Data Types in Python

anteriormente que uma variável pode receber dados em vários formatos, como uma string, um número inteiro, um número com partes fracionárias (float), etc. Agora é hora de examinar cada um desses conceitos com mais detalhes. Começamos definindo uma variável.

#### Variáveis

Uma variável pode ser considerada como um contêiner com um nome que é usado para armazenar um valor. Na linguagem de programação, é um local de memória reservado para armazenar valores. Em outras palavras, uma variável em um programa Python fornece os dados necessários a um computador para processamento.

Vamos começar criando uma variável.

##### Declaração e Atribuição de Variáveis

Em Python, as variáveis NÃO precisam ser declaradas ou definidas com antecedência, como é o caso em muitas outras linguagens de programação. Na verdade, o Python não tem nenhum comando para declarar uma variável. Para criar uma variável, atribuímos um valor a ela e começamos a usá-la. Uma atribuição é realizada usando um único assinar também conhecido como operador de atribuição. Uma variável é criada no momento em que atribuímos o primeiro valor a ela.

In [3]:
# Creating a variable
price = 226

A declaração acima pode ser interpretada como uma variável é atribuída a um valor. Também é conhecido como inicializar a variável. Uma vez executada esta instrução, podemos começar a usar o em outras instruções ou expressões, e seu valor será substituído. Por exemplo,

In [4]:
print(price)

226

Mais tarde, se alterarmos o valor da instrução novamente, o novo valor aparecerá como saída. Isso é conhecido como redeclaração da variável.

In [5]:
price = 230 # Assigning new value
print(price) # Printing price

230

Later, if we change the value of price and run the print statement again, the new value will appear as output. This is known as re-declaration of the variable.

In [6]:
x = y = z = 200 # Chaining assignment operation
print(x, y, z) # Printing all variables

200 200 200

The chained assignment shown in the abov

##### Convenções de Nomenclatura de Variáveis

Usamos variáveis em todos os lugares em Python. Uma variável pode ter um nome curto ou um nome mais descritivo. A seguinte lista de regras deve ser seguida para nomear uma variável.

• Um nome de variável deve começar com uma letra ou o caractere de sublinhado.

In [7]:
stock = 'AAPL' # Valid name
_name = 'AAPL' # Valid name

• Um nome de variável não pode começar com um número.

In [8]:
# A variable name cannot start with a number.
1stock = 'AAPL' # Invalid name
1_stock = 'AAPL' # Invalid name

SyntaxError: invalid decimal literal (191032102.py, line 2)

• Um nome de variável pode conter apenas caracteres alfanuméricos (AZ, az, 0-9) e sublinhados ( _ ).

In [9]:
# Valid name. It starts with a capital letter.
Stock = 'AAPL'

In [10]:
# Valid name. It is a combination of alphabets
# and the underscore.
stock_price = 226.41

In [11]:
# Valid name. It is a combination of alphabets
# and a number.
stock_1 = 'AAPL'

In [12]:
# Valid name. It is a combination of a capital
# letter, alphabets and a number.
Stock_name_2 = 'MSFT'

• Um nome de variável não pode conter espaços em branco e sinais como +, -, -----------------

In [13]:
# A variable name cannot contain whitespace and signs such as +, -, etc.

# Invalid name. It cannot contain the whitespace.
stock name = 'AAPL'

SyntaxError: invalid syntax (1306877120.py, line 4)

In [14]:
# Invalid name. It cannot contain characters

# other than the underscore(_).
stock-name = 'AAPL'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (441187741.py, line 4)

• Os nomes das variáveis diferenciam maiúsculas de minúsculas.

In [15]:
# Variable names are case-sensitive.
# STOCK, stock and Stock all three are different

# variable names.

STOCK = 'AAPL'
stock = 'MSFT'
Stock = 'GOOG'

Lembre-se de que os nomes das variáveis diferenciam maiúsculas de minúsculas no Python.

• As palavras-chave do Python não podem ser usadas como um nome de variável.

In [16]:
# Python keywords cannot be used as a variable name.

# 'str', 'is', and 'for' CANNOT be used as the
# variable name as they are reserved keywords
# in Python. Below given names are invalid.
str = 'AAPL'
is = 'A Variable'
for = 'Dummy Variable'

SyntaxError: invalid syntax (1192257590.py, line 7)

Os pontos a seguir são práticas de fato seguidas por programadores profissionais.

• Use um nome que descreva a finalidade, em vez de usar nomes fictícios. Em outras palavras, deve ser significativo.

In [17]:
# Use a name that describes the purpose, instead of using dummy names. 
# In other words, it should be meaningful.

# Valid name but the variable does not

# describe the purpose.
a = 18

# Valid name which describes it suitably
age = 18

• Use um caractere de sublinhado para separar duas palavras.

In [18]:
# Use an underscore character _ to separate two words.

# Valid name.
stockname = 'AAPL'

# Valid name. And it also provides concise

# readability.
stock_name = 'AAPL'

• Inicie um nome de variável com uma letra minúscula do alfabeto.

In [19]:
# Start a variable name with a small alphabet letter.

# Valid name.
Stock_name = 'AAPL'

# Valid name. Additionally, it refers to uniformity
# with other statements.
stock_name = 'AAPL'

<b>NOTA :</b> aderir a essas regras aumenta a legibilidade do código. Lembrese de que essas são boas práticas de codificação (e recomendadas, mas não necessariamente necessárias) que você pode levar consigo para qualquer linguagem de programação, não apenas Python.

### Tipos de dados

Tendo entendido o que são variáveis e como elas são usadas para armazenar valores,
é hora de aprender os tipos de dados de valores que as variáveis contêm. Aprenderemos
sobre tipos de dados primitivos, como numérico, string e booleano, que são incorporados
ao Python. Python tem quatro tipos básicos de dados:

- Inteiro
- Float
- String
- Booleano

Embora já tenhamos uma breve visão geral de integer, float e string na
seção anterior, abordaremos esses tipos de dados com mais detalhes
nesta seção.

#### Número inteiro

Um número inteiro pode ser pensado como um valor numérico sem nenhum decimal.
Na verdade, ele é usado para descrever qualquer número inteiro em
Python, como etc. Usamos um valor inteiro para representar dados numéricos de
infinito negativo a infinito. Esses números numéricos são atribuídos a variáveis
usando um operador de atribuição.

In [20]:
total_output_of_dice_roll = 6
days_elapsed = 30
total_months = 12
year = 2019

Atribuímos um número inteiro 6 a uma variável total_output_of_dice_roll como
não pode haver saída fracionária para uma jogada de dados. Da mesma forma, temos uma variável
days_elapsed com valor 30, total_months com valor 12 e ano como
2019.

#### Float

Um float significa número de ponto flutuante, o que significa essencialmente um
número com partes fracionárias. Também pode ser usado para números racionais,
geralmente terminando com um decimal, como etc. Abaixo estão alguns exemplos
em que um valor float é mais apropriado do que um inteiro.

In [21]:
stock_price = 224.61
height = 6.2
weight = 60.4

NOTE: From the statistics perspective, a float value can be
thought of as a continuous value, whereas an integer value can
correspondingly be a discrete value.

By doing so, we get a fairly good idea how data types and variable names go hand
in hand. This, in turn, can be used in expressions to perform any mathematical
calculation.

Let’s revisit the topic Python as a Calculator very briefly but this time using
variables.

In [22]:
# Assign an integer value
x = 2

In [23]:
# Assign a float value
y = 10.0

In [24]:
# Addition
print(x + y)

12.0

In [25]:
# Subtraction
print(x - y)

-8.0

In [26]:
# Multiplication
print(x * y)

20.0

In [27]:
# Division
print(x / y)

0.2

In [28]:
# Modulo
print(x % y)

2.0

In [29]:
# Exponential / Power
print(x ** y)

1024.0

NOTE: Please note the precise use of comments used in the code
snippet to describe the functionality. Also, note that output of all
expressions to be float number as one of the literals used in the
input is a float value.

Look at the above-mentioned examples and try to understand the code
snippet. If you are able to get a sense of what’s happening, that’s great.
You are well on track on this Pythonic journey. Nevertheless, let’s try to understand
the code just to get more clarity. Here, we assign an integer value
of 2 to x and a float value of 10.0 to y. Then, we try to attempt various
mathematical operations on these defined variables instead of using direct
values. The obvious benefit is the flexibility that we get by using these variables.
For example, think of a situation where we want to perform the said
operation on different values such as 3 and 15.0, we just need to re-declare
variables x and y with new values respectively, and the rest of the code
remains as it is.

#### Boolean

This built-in data type can have one of two values, True or False. We use
an assignment operator = to assign a boolean value to variables in a manner
similar to what we have seen for integer and float values. For example:

In [30]:
buy = True

In [31]:
print(buy)

True

In [32]:
sell = False

In [33]:
print(sell)

False

As we will see in upcoming sections, expressions in Python are often evaluated
in the boolean context, meaning they are interpreted to represent their
truth value. Boolean expressions are extensively used in logical conditions
and control flow statements. Consider the following examples

In [34]:
# Checking for equality between 1 and itself using

# comparison operator '=='.
1 == 1

True

In [35]:
# Checking for equality between values 1 and -1
1 == -1

False

In [36]:
# Comparing value 1 with -1
1 > -1

True

The above examples are some of the simplest boolean expressions that evaluate
to either True or False.

NOTE: We do NOT write True and False within quotes. It needs
to be written without quotes. Also, the first letter needs to be upper case followed by lower case letters. The following list
will not be evaluated to a boolean value - ’TRUE’ - TRUE - true
- ’FALSE’ - FALSE - false

#### String

A string is a collection of alphabets, numbers, and other characters written
within a single quote ' or double quotes ". In other words, it is a sequence
of characters within quotes. Let us understand how a string works with the
help of some examples.

In [37]:
# Variable assignment with a string
sample_string = '1% can also be expressed as 0.01'

In [38]:
# Print the variable sample_string
sample_string

'1% can also be expressed as 0.01'

In the above examples we have defined a string variable with name
sample_string assigned a value '1% can also be expressed as 0.01'.
It is interesting to note here that we have used a combination of alphabets,
numbers and special characters for defining the variable. In Python, anything
that goes within quotes is a string. Consider the following example,

In [39]:
stock_price = '224.61'

In [40]:
stock_price

'224.61'

We define the variable stock_price assigning the string value '224.61'.
The interesting thing to notice is the output of the variable is also a string.
Python will not convert the data types implicitly whenever numeric values
are given as a string.
We can concatenate two or more string using the + operator.

In [41]:
'Price of AAPL is ' + stock_price

'Price of AAPL is 224.61'

Concatenation operation using the + operator works only on a string. It
does not work with different data types. If we try to perform the operation,
we will be presented with an error.

In [42]:
# Re-declaring the variable with an integer value
stock_price = 224.61

In [43]:
'Price of AAPL is ' + stock_price # Error line

TypeError: can only concatenate str (not "float") to str

As expected, Python spat out a TypeError when we tried concatenating a
string and float literal. Similar to the + operator, we can use the * operator
with a string literal to produce the same string multiple times.

In [44]:
string = 'Python! '

In [45]:
string * 3

'Python! Python! Python! '

We can select a substring or part of a string using the slice operation. Slicing
is performed using the square brackets []. The syntax for slicing a single
element from the string is [index] which will return an element at index.
The index refers to the position of each element in a string and it begins with
0, which keeps on increasing in chronological order for every next element.

In [46]:
string = 'EPAT Handbook!'

In [47]:
string[0] # 0 refers to an element E

'E'

In [48]:
string[1] # 1 refers to an element P

'P'

In the above example, an element E being the first character belongs to an
index 0, P being next to E belongs to an index 1, and so on. Similarly, the
index for element b will be 9. Can you guess the index for element k in the
above example?

To slice a substring from a string, the syntax used is [start index:end
index] which will return the substring starting from an element at start
index up to but not including an element at end index. Consider the following
example, where we substring the string from an index 0 up to 4
which yields the output 'EPAT'. Notice how the element ' ' at an index 4
is not included in the output. Similarly, we slice a substring as seen in the
below example

In [49]:
string[0:4]

'EPAT'

In [50]:
string[4]

' '

In [51]:
string[5:13]

'Handbook'

In [52]:
string[13]

'!'

In Python, we cannot perform the slicing operation with an index not
present in the string. Python will throw IndexError whenever it encounters
slicing operation with incorrect index.

In [53]:
string[141]

IndexError: string index out of range

In the above example, the last index is 13. The slicing operation performed
with an index 14 will result in an error IndexError stating that index we
are looking for is not present.

NOTE: We list out some of the important points for string literals
below: - In Python 3.x all strings are Unicode by default. - A
string can be written within either '' or "". Both work fine. - Strings are immutable. (although you can modify the variable)
- An escape sequence is used within a string to mark a new line,
provide tab space, writing \ character, etc.

#### Operations on String

In [54]:
# upper() method: This method returns the upper case version of the string.
sample_string.upper()

'1% CAN ALSO BE EXPRESSED AS 0.01'

In [55]:
# lower() method: This method returns the lower case version of the string.
sample_string.lower()

'1% can also be expressed as 0.01'

In [56]:
# strip() method: This method returns a string with whitespace removed from the start and end.
' A string with whitespace at both \
the ends. '.strip()

'A string with whitespace at both the ends.'

In [57]:
'Alphabets'.isalpha()

True

In [58]:
# The string under evaluation contains whitespace.
'This string contains only alphabets'.isalpha()

False

In [59]:
# isdigit() method: This method returns the boolean value True if all characters in a string are digits, False otherwise.
'12345'.isdigit()

True

In [60]:
# startswith(argument) method: This method returns the boolean value True if the first character of a string starts with the character provided as an argument, False otherwise.
'EPAT Handbook!'.startswith('E')

True

In [61]:
# endswith(argument) method: This method returns the boolean value True if the last character of a string ends with the character provided as an argument, False otherwise.
'EPAT Handbook!'.startswith('k')

False

In [62]:
# find(sub, start, end) method: This method returns the lowest index in a string where substring sub is found within the slice [start:end]. Here, arguments start and end are optional. It returns -1 if sub is not found.
'EPAT Handbook!'.find('EPAT')

0

In [63]:
'EPAT Handbook!'.find('A')

2

In [64]:
'EPAT Handbook!'.find('Z')

-1

In [65]:
# replace(old, new) method: This method returns a copy of the string with all occurrences of old replace by new.
'00 01 10 11'.replace('0', '1')

'11 11 11 11'

In [66]:
'00 01 10 11'.replace('1', '0')

'00 00 00 00'

In [67]:
# split(delim) method: This method is used to split a string into multiple strings based on the delim argument.
'AAPL MSFT GOOG'.split(' ')

['AAPL', 'MSFT', 'GOOG']

In [68]:
# index(character) method: This method returns the index of the first occurrence of the character.
'EPAT Handbook!'.index('P')

1

In [69]:
'EPAT Handbook!'.index('Z')

ValueError: substring not found

In [70]:
# capitalize() method: This method returns a capitalized version of the string.
'python is amazing!'.capitalize()

'Python is amazing!'

In [71]:
# count(character) method: This method returns a count of an argument provided by character.
'EPAT Handbook'.count('o')

2

In [72]:
'EPAT Handbook'.count('a')

1

#### `type()` function

In [73]:
# A string is represented by the class 'str'.
type('EPAT Handbook')

str

In [74]:
# A float literal is represented by the class 'float'.
type(224.61)

float

In [75]:
# An integer literal is represented by the class 'int'.
type(224)

int

In [76]:
# An argument provided is within quotation marks.
type('0')

str

In [77]:
# A boolean value is represented by the class 'bool'.
type(True)

bool

In [78]:
type(False)

bool

In [79]:
# An argument is provided within a quotation mark.
type('False')

str

In [80]:
# An object passed as an argument belongs to the
# class 'list'.
type([1, 2, 3])

list

In [81]:
# An object passed as an argument belongs to the
# class 'dict'.
type({'key':'value'})

dict

In [82]:
# An object passed as an argument belongs to the
# class 'tuple'.
type((1, 2, 3))

tuple

In [83]:
# An object passed as an argument belongs to the
# class 'set'.
type({1, 2, 3})

set

### Type Conversion

In [84]:
8 / 2

4.0

In [85]:
'This is the year ' + 2019

TypeError: can only concatenate str (not "int") to str

In [86]:
'This is the year ' + str(2019)

'This is the year 2019'

In [87]:
# Integer to float conversion
float(4)

4.0

In [88]:
# String to float conversion
float('4.2')

4.2

In [89]:
float('4.0')

4.0

In [90]:
# Float to integer conversion
int(4.0)

4

In [91]:
int(4.2)

4

In [92]:
# String to integer conversion
int('4')

4

In [93]:
# Python does not convert a string literal with a
# fractional part, and instead, it will throw an error.
int('4.0')

ValueError: invalid literal for int() with base 10: '4.0'

In [94]:
# Float to string conversion
str(4.2)

'4.2'

In [95]:
# Integer to string conversion
str(4)

'4'

In [96]:
# Boolean to integer conversion
int(False)

0

In [97]:
int(True)

1

In [98]:
# Integer to boolean conversion
bool(0)

False

In [99]:
bool(1)

True

In [100]:
bool(-1)

True

In [101]:
bool(125)

True

In [102]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.