In [1]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

Versão de Python Neste Jupyter Notebook: 3.10.5

In [2]:
import warnings
warnings.filterwarnings('ignore')

### Array

In [3]:
from array import *

In [4]:
arr = array('i', [2, 4, 6, 8])

In [5]:
arr

array('i', [2, 4, 6, 8])

In [6]:
type(arr)

array.array

#### Accessing Array Element

In [7]:
# Here, 2 represents the index of element 6
arr[2]

6

In [8]:
arr[0]

2

#### Manipulating Arrays

In [9]:
# Inserting an element at the beginning
arr.insert(0, 20)

In [10]:
arr

array('i', [20, 2, 4, 6, 8])

In [11]:
# Inserting an element at the index 3
arr.insert(3, 60)

In [12]:
arr

array('i', [20, 2, 4, 60, 6, 8])

In [13]:
# An element can be deleted from an array using the built-in remove() method.
arr.remove(20)

In [14]:
arr

array('i', [2, 4, 60, 6, 8])

In [15]:
arr.remove(60)

In [16]:
arr

array('i', [2, 4, 6, 8])

In [17]:
# Update an element at index 1
arr[0] = 1

In [18]:
arr

array('i', [1, 4, 6, 8])

In [19]:
# Update an element at index 3
arr[3] = 7

In [20]:
arr

array('i', [1, 4, 6, 7])

### Tuples

In [21]:
# Creating a tuple 'tup' with elements of the same

# data type
tup = (1, 2, 3)

In [22]:
tup

(1, 2, 3)

In [23]:
# Verifying the type
type(tup)

tuple

In [24]:
# Creating a tuple 'tupl' with elements of different data

# types
tupl = (1, 'a', 2.5)

In [25]:
type(tupl)

tuple

In [26]:
# Creating a tuple without brackets
tup = 1, 2, 3

In [27]:
type(tup)

tuple

In [28]:
tupl = (1,) * 5 # Note trailing comma

In [29]:
tup

(1, 2, 3)

#### Accessing tuple elements

In [30]:
# Access an element at index 0
tup[0]

1

In [31]:
# Access an element at index 2
tup[2]

3

In [32]:
tup[3]

IndexError: tuple index out of range

In [33]:
len(tupl)

5

#### Immutability

In [34]:
tup[1] = 10

TypeError: 'tuple' object does not support item assignment

#### Concatenating Tuples

In [35]:
t1 = (1, 2, 3)
t2 = (4, 5)

t1 + t2

(1, 2, 3, 4, 5)

In [36]:
t1 = (1, 2, 3)
t1 += 4, 5

t1

(1, 2, 3, 4, 5)

#### Unpacking Tuples

In [37]:
tup

(1, 2, 3)

In [38]:
x, y, z = tup

#### Tuple methods

In [39]:
# index() : This method returns the index of the element.
tup

(1, 2, 3)

In [40]:
# Returns the index of value '3'.
tup.index(3)

2

In [41]:
# count() : This method counts the number of occurrences of a value.
up = (1, 1, 1, 1, 1)

In [42]:
tup.count(1)

1

### Lists

In [43]:
# Empty list
list_a = []

In [44]:
list_a

[]

In [45]:
# List with integers
list_b = [1, 2, 3]

In [46]:
list_b

[1, 2, 3]

In [47]:
# List with mixed data types
list_c =[1, 2.5, 'hello']

In [48]:
list_c

[1, 2.5, 'hello']

In [49]:
# A list can also have another list as an item. This is called nested list.
a_list = [1, 2, 3, ['hello', 'stock'], 4.5]

#### Accessing List Items

In [50]:
stock_list = ['HP', 'GOOG', 
              'TSLA', 'MSFT', 
              'AAPL','AMZN', 
              'NFLX']

In [51]:
# Accessing an element at index 2
stock_list[2]

'TSLA'

In [52]:
# Accessing multiple elements using slicing
stock_list[1:4]

['GOOG', 'TSLA', 'MSFT']

In [53]:
# Accessing last element using negative index
stock_list[-1]

'NFLX'

#### Updating Lists

In [54]:
stock_list

['HP', 'GOOG', 'TSLA', 'MSFT', 'AAPL', 'AMZN', 'NFLX']

In [55]:
# Updating the first element
stock_list[0] = 'NVDA'

In [56]:
# Updating the last three elements
stock_list[-3:] = ['AMD', 'GE', 'BAC']

In [57]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC']

In [58]:
# append(element) method adds a single element to the end of the list. It does not return the new list, just modifies the original list.
# extend(list2) method adds the elements in list2 to the end of the list.

In [59]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC']

In [60]:
stock_list.append('AMZN')

In [61]:
stock_list

['NVDA', 'GOOG', 'TSLA', 'MSFT', 'AMD', 'GE', 'BAC', 'AMZN']

In [62]:
stock_list.append(['TSLA', 'GE', 'NFLX'])

In [63]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX']]

In [64]:
stock_list.extend(['TSLA', 'GE', 'NFLX'])

In [65]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE',
 'NFLX']

#### List Manipulation

In [66]:
# insert(index, element) : Inserts an item at a given position. The first argument is the index of the element before which to insert, so list.insert(0, element) inserts at the beginning of the list.

# Inserting an element at index position 1.
stock_list.insert(1, 'AAPL')

In [67]:
stock_list

['NVDA',
 'AAPL',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE',
 'NFLX']

In [68]:
# Removing the element 'AAPL'
stock_list.remove('AAPL')

In [69]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE',
 'NFLX']

In [70]:
# Again removing the element 'AAPL'.

# This line will throw an error as there is no element

# 'AAPL' the list.
stock_list.remove('AAPL')

ValueError: list.remove(x): x not in list

In [71]:
# pop() : This function removes and returns the last item in the list. If we provide the index as an argument, it removes the item at the given position in the list and returns it. It is optional to provide an argument here.

In [72]:
# Without providing index position as an argument. Returns
# and removes the last element in the list.
stock_list.pop()

'NFLX'

In [73]:
stock_list

['NVDA',
 'GOOG',
 'TSLA',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE']

In [74]:
# Providing an index position as an argument. Returns and
# removes the element from the specific location.
stock_list.pop(2)

'TSLA'

In [75]:
stock_list

['NVDA',
 'GOOG',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE']

In [76]:
# index(element) : Returns the index of the first item whose value is element provided in an argument. Python will throw an error if there is no such item.

In [77]:
stock_list.index('GOOG')

1

In [78]:
stock_list.index('GE')

4

In [79]:
# count(element) : Returns the number of times element appears in the list.

In [80]:
# Count the element 'GOOG'
stock_list.count('GOOG')

1

In [81]:
# Appending the same list with 'GOOG'
stock_list.append('GOOG')

In [82]:
stock_list

['NVDA',
 'GOOG',
 'MSFT',
 'AMD',
 'GE',
 'BAC',
 'AMZN',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE',
 'GOOG']

In [83]:
# Again, counting the element 'GOOG'
stock_list.count('GOOG')

2

In [84]:
# sort() : When called, this method returns the sorted list. The sort operation will be in place.

In [85]:
# Sorting the list. The same list will be updated.
stock_list.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [86]:
stock_list

['AMD',
 'AMZN',
 'BAC',
 'GE',
 'GOOG',
 'MSFT',
 'NVDA',
 ['TSLA', 'GE', 'NFLX'],
 'TSLA',
 'GE',
 'GOOG']

In [87]:
# reverse() : This method reverses the elements of the list and the operation performed will be in place.

In [88]:
# Reversing the elements within the list.
stock_list.reverse()

In [89]:
stock_list

['GOOG',
 'GE',
 'TSLA',
 ['TSLA', 'GE', 'NFLX'],
 'NVDA',
 'MSFT',
 'GOOG',
 'GE',
 'BAC',
 'AMZN',
 'AMD']

#### Stacks and Queues

In [90]:
# (Bottom) 1 -> 5 -> 6 (Top)
stack = [1, 5, 6]

In [91]:
stack.append(4) # 4 is added on top of 6 (Top)

In [92]:
stack.append(5) # 5 is added on top of 4 (Top)

In [93]:
stack

[1, 5, 6, 4, 5]

In [94]:
stack.pop() # 5 is removed from the top

5

In [95]:
stack.pop() # 4 is removed from the top

4

In [96]:
stack.pop() # 6 is removed from the top

6

In [97]:
stack # Remaining elements in the stack

[1, 5]

In [98]:
# append() and popleft() methods

In [99]:
# Import 'deque' module from the 'collections' package
from collections import deque

In [100]:
# Define initial queue
queue = deque(['Perl', 'PHP', 'Go'])

In [101]:
# 'R' arrives and joins the queue
queue.append('R')

In [102]:
# 'Python' arrives and joins the queue
queue.append('Python')

In [103]:
# The first to arrive leaves the queue
queue.popleft()

'Perl'

In [104]:
# The second to arrive leaves the queue
queue.popleft()

'PHP'

In [105]:
# The remaining queue in order of arrival
queue

deque(['Go', 'R', 'Python'])

### Dictionaries

In [106]:
dictionary = {'key1' : 'value1', 
              'key2' : 'value2', 
              'key3' : 'value3'}

In [107]:
# Creating an empty dictionary using {}
tickers = {}

In [108]:
type(tickers)

dict

In [109]:
# Creating an empty dictionary using the dict() method
tickers = dict()

In [110]:
type(tickers)

dict

In [111]:
tickers = {'GOOG' : 'Alphabet Inc.',
           'AAPL' : 'Apple Inc.',
           'MSFT' : 'Microsoft Corporation'}

In [112]:
tickers

{'GOOG': 'Alphabet Inc.',
 'AAPL': 'Apple Inc.',
 'MSFT': 'Microsoft Corporation'}

In [113]:
ticker = {'symbol' : 'AAPL',
          'price' : 224.95,
          'company' : 'Apple Inc',
          'founded' : 1976,
          'products' : ['Machintosh', 
                        'iPod',
                        'iPhone', 
                        'iPad']}

In [114]:
tickers = {'AAPL' : {'name' : 'Apple Inc.',
                     'price' : 224.95},
           'GOOG' : {'name' : 'Alphabet Inc.',
                     'price' : 1194.64}}

In [115]:
same_keys = {'symbol' : 'AAPL',
             'symbol' : 'GOOG'}

In [116]:
same_keys

{'symbol': 'GOOG'}

In [117]:
ticker

{'symbol': 'AAPL',
 'price': 224.95,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

In [118]:
tickers

{'AAPL': {'name': 'Apple Inc.', 'price': 224.95},
 'GOOG': {'name': 'Alphabet Inc.', 'price': 1194.64}}

In [119]:
# Accessing the symbol name
ticker['symbol']

'AAPL'

In [120]:
# Accessing the ticker price
ticker['price']

224.95

In [121]:
# Accessing the product list
ticker['products']

['Machintosh', 'iPod', 'iPhone', 'iPad']

In [122]:
# Accessing the item at position 2 in the product list.
ticker['products'][2]

'iPhone'

In [123]:
# Accessing the first nested dictionary from the
# 'tickers' dictionary
tickers['AAPL']

{'name': 'Apple Inc.', 'price': 224.95}

In [124]:
# Accessing the price of 'GOOG' ticker using chaining
# operation
tickers['GOOG']['price']

1194.64

#### Altering dictionaries

In [125]:
ticker['price']

224.95

In [126]:
ticker['price'] = 226

In [127]:
ticker['price']

226

In [128]:
ticker['founders'] = ['Steve Jobs', 
                      'Steve Wozniak',
                      'Ronald Wayne']

In [129]:
ticker

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad'],
 'founders': ['Steve Jobs', 'Steve Wozniak', 'Ronald Wayne']}

In [130]:
del(ticker['founders'])

In [131]:
ticker

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

#### Dictionary Methods

In [132]:
len(ticker)

5

In [133]:
len(tickers)

2

In [134]:
# items() : This method returns a object containing all times in the calling object.
ticker.items()

dict_items([('symbol', 'AAPL'), ('price', 226), ('company', 'Apple Inc'), ('founded', 1976), ('products', ['Machintosh', 'iPod', 'iPhone', 'iPad'])])

In [135]:
# keys() : This method returns all keys in the calling dictionary.

ticker.keys()

dict_keys(['symbol', 'price', 'company', 'founded', 'products'])

In [136]:
# values() : This method returns all values in the calling object.
ticker.values()

dict_values(['AAPL', 226, 'Apple Inc', 1976, ['Machintosh', 'iPod', 'iPhone', 'iPad']])

In [137]:
# pop() : This method pops the item whose key is given as an argument.

In [138]:
tickers.pop('GOOG')

{'name': 'Alphabet Inc.', 'price': 1194.64}

In [139]:
tickers

{'AAPL': {'name': 'Apple Inc.', 'price': 224.95}}

In [140]:
# copy() : As the name suggests, this method copies the calling dictionary to another dictionary.

In [141]:
aapl = ticker.copy()

In [142]:
aapl

{'symbol': 'AAPL',
 'price': 226,
 'company': 'Apple Inc',
 'founded': 1976,
 'products': ['Machintosh', 'iPod', 'iPhone', 'iPad']}

In [143]:
# clear() : This method empties the calling dictionary.

In [144]:
ticker.clear()

In [145]:
ticker

{}

In [146]:
# update() : This method allows to add new key-pair value from another dictionary

In [147]:
ticker1 = {'NFLX' : 'Netflix'}

In [148]:
ticker2 = {'AMZN' : 'Amazon'}

In [149]:
new_tickers = {}

In [150]:
new_tickers.update(ticker1)

In [151]:
new_tickers.update(ticker2)

In [152]:
new_tickers

{'NFLX': 'Netflix', 'AMZN': 'Amazon'}

### Sets

In [153]:
universe ={'GOOG', 'AAPL', 'NFLX', 'GE'}

In [154]:
universe

{'AAPL', 'GE', 'GOOG', 'NFLX'}

In [155]:
universe.add('AMZN')

In [156]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [157]:
universe.add('AMZN')

In [158]:
universe.add('GOOG')

In [159]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [160]:
universe.update(['FB', 'TSLA'])

In [161]:
universe

{'AAPL', 'AMZN', 'FB', 'GE', 'GOOG', 'NFLX', 'TSLA'}

In [162]:
len(universe)

7

In [163]:
universe.remove('FB')

In [164]:
universe.discard('TSLA')

In [165]:
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [166]:
universe.remove('FB')

KeyError: 'FB'

In [167]:
# discard() method will not throw any error if we try to discard an item which is not present in the set.
universe

{'AAPL', 'AMZN', 'GE', 'GOOG', 'NFLX'}

In [168]:
universe.discard('FB')

In [169]:
# use the clear() method to empty the set.
universe.clear()

In [170]:
universe

set()

In [171]:
tech_stocks = {'AMD', 'GOOG', 'AAPL', 'WDC'}

In [172]:
fin_stocks = {'BAC', 'BMO', 'JPLS'}

In [173]:
# union() method: This method allows performing a union between sets. This operation returns all elements within both sets.

# Performs the 'union` operation
universe = tech_stocks.union(fin_stocks)

In [174]:
# 'universe' contains all elements of both sets
universe

{'AAPL', 'AMD', 'BAC', 'BMO', 'GOOG', 'JPLS', 'WDC'}

In [175]:
# intersection() method: This method performs the intersection between sets. It returns only elements which are available in both sets.

# Only elements present in the 'universe' set and
# and 'fin_stocks` are returned
universe.intersection(fin_stocks)

{'BAC', 'BMO', 'JPLS'}

In [176]:
# difference() method: This method performs the difference operation and returns a set containing all elements of the calling object but not including elements of the second set.

# All elements of the 'universe' set is returned except
# elements of the 'fin_stock'
universe.difference(fin_stocks)

{'AAPL', 'AMD', 'GOOG', 'WDC'}

In [177]:
# issubset() method: This method checks whether all elements of calling set is present within a second set or not. It returns true if the calling set is subset of the second set, false otherwise.

# True, as the 'universe' contains all elements of
# the 'fin_stocks'
fin_stocks.issubset(universe)

True

In [178]:
# Can you guess why it resulted in to False?
universe.issubset(tech_stocks)

False

In [179]:
# isdisjoint() method: This method checks for the intersection between two sets. It returns true if the calling set is disjoint and not intersected with the second set, false otherwise.

# True, none of the set contains any element of each other
fin_stocks.isdisjoint(tech_stocks)

True

In [180]:
# False, the 'universe' set contains elements of
# the 'fin_stocks' set
fin_stocks.isdisjoint(universe)

False

In [181]:
# issuperset() method: This method checks whether the calling set contains all elements of the second set. It returns true, if the calling set contains all elements of the second set, false otherwise.

# True, the 'universe' set contains all elements of
# the 'fin_stocks'
universe.issuperset(fin_stocks)

True

In [182]:
# True, the 'universe' set contains all elements of
# the 'tech_stocks'
universe.issuperset(tech_stocks)

True

In [183]:
# False, the 'fin_stocks' set does not contains all
# elements of the 'universe' set
fin_stocks.issuperset(universe)

False

In [184]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

sys: 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

### End.